:root {
  --primary: #eb1ccc;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

/* Event form */
#event-description {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-5.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  display: flex;
  height: 85vh;
  justify-content: space-around;
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}

#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#disclaimer .about-event {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  max-width: 350px;
  text-transform: uppercase;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: .3em;
}

#disclaimer .event-date {
  font-weight: bold;
}

#subscription-form {
  background-color: var(--secondary);
  max-width: 22%;
  padding: 2em;
}

#subscription-form p {
  color: var(--text-secondary);
  font-size: 1.5em;
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: .8rem;
}

.form-group label {
  color: var(--text-tertiary);
  font-weight: bold;
  margin-bottom: .3em;
}

.form-group input,
.form-group select {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 6px 8px;
}

.btn {
  background-color: var(--primary);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  opacity: .8;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  font-weight: 500;
  padding: 2em;
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 4em;
  width: 80%;
}

.benefit {
  align-items: center;
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  max-width: 20%;
  text-align: center;
}

.benefit .benefit-img {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 250px;
  margin-bottom: 1em;
  width: 250px;
}

#benefit-1 {
  background-image: url('../img/sqr-1.jpg');
}

#benefit-2 {
  background-image: url('../img/sqr-2.jpg');
}

#benefit-3 {
  background-image: url('../img/sqr-3.jpg');
}

/* Events location */
#location {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-1.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
  height: 400px;
}

#address,
#about-location {

  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--primary);
  font-size: 4em;
  margin-right: .5em;
}

#address-details {
  font-size: 1.3em;
  text-align: center;
}

#about-location h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-location p {
  line-height: 1.5em;
}

/* Event details container */
#details {
  margin: 0 auto;
  width: 80%;
}

.detail {
  align-items: flex-start;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  margin-bottom: 4em;
}

.detail h3 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1em;
}

#detail-1 h3 {
  font-size: 3em;
  font-weight: 700;
}

.detail img {
  width: 50%;
}

.detail-description {
  padding-left: 2em;
  width: 100%;
}

.detail-description ul {
  list-style-position: inside;
}

.detail-description ul li {
  margin-bottom: .4em;
}

.detail-description ul li:last-child {
  font-weight: bold;
}

/* Call to Action Section */
#cta {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-1.jpg");
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}

#cta h3 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.2em;
}

#cta .btn {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 auto;
  width: 30%;
}

/* Footer */
#footer {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  text-align: center;
}

#footer h3 {
  font-size: 1.8em;
  margin-bottom: .5em;
}

#footer p:nth-child(2) {
  font-size: 1.2em;
  margin-bottom: 1em;
}

#footer span {
  font-weight: bold;
}

/* Mobile */
@media (max-width: 450px) {
  .btn {
    opacity: 1;
  }

  /* Event form */
  #event-description {
    flex-direction: column;
    height: auto;
  }

  #disclaimer {
    padding: 2em;
  }

  #disclaimer h2 {
    margin-bottom: .5em;
  }

  #subscription-form {
    margin-bottom: 2em;
    max-width: 70%;
  }

  /* Benefits section */
  .benefits {
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: auto;
  }

  .benefit {
    margin-bottom: 2em;
    max-width: 100%;
  }

  /* Events location */
  #location {
    flex-direction: column;
    height: auto;
    padding: 2em 0;
    text-align: center;
  }

  #address {
    flex-direction: column;
    order: 2;
    width: 100%;
  }

  #address i {
    margin: .3em 0;
  }

  #about-location {
    max-width: 100%;
    order: 1;
  }

  #about-location h3 {
    margin-bottom: 0;
  }

  #about-location p {
    display: none;
  }

  /* Event details container */
  .detail {
    flex-direction: column;
    gap: 0;
    margin-bottom: .5em;
  }

  .detail img {
    margin: 2em 0;
    width: 100%;
  }

  #detail-1 img {
    display: none;
  }

  .detail-description {
    padding: 0;
  }

  #detail-3 img {
    order: 2;
  }

  #detail-3 .detail-description {
    order: 1;
  }

  /* Call to Action Section */
  #cta {
    text-align: center;
  }

  #cta .btn {
    width: 80%;
  }
}