* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eceff1;
  height: 100%;
  transition: .3s;
}

input[type='checkbox'] {
  display: none;
}

.bi {
  cursor: pointer;
  font-size: 1.3rem;
}

.bi-moon {
  display: none;
}

header {
  align-items: center;
  background-color: #eceff1;
  box-shadow: .5px .5px 10px .5px #000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .3);
  display: flex;
  margin-top: 4rem;
  position: relative;
  width: 60%;
}

.card-image,
.card-details {
  padding: 2rem;
  width: 50%;
}

.card-image {
  background-color: #eff7fc;
  position: relative;
}

.card-image span {
  font-size: 6rem;
  font-weight: 900;
}

.card-image img {
  transform: rotate(-25deg);
  position: absolute;
  right: -1rem;
  top: 10rem;
  width: 130%;
}

.card-details h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card-details .subtitle {
  color: #444;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.card-details .description {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.card-details .price-container {
  display: flex;
  justify-content: space-between;
}

.card-details .price-container .price {
  font-size: 2rem;
  font-weight: 900;
}

.card-details .price-container .btn {
  background-color: #444;
  border: none;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  text-transform: uppercase;
  width: 7rem;
}

/* Dark theme */
.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark .card {
  background-color: #37474f;
}

.dark .card-image {
  background-color: #273035;
}

.dark .card-details .subtitle {
  color: #67b4f3;
}

.dark .card-details .description {
  color: #2196f3;
}

.dark .card-details .price-container .btn {
  background-color: #67b4f3;
}